<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>수목센서 관리 사이트</title>
    
    <!-- Custom fonts for this template-->
    <link href="stylesheets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">


    <!-- Custom styles for this template-->
    <!--<link href="stylesheets/style.css" rel="stylesheet">-->
    <link href="stylesheets/custom.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/styles.199601a382cef5d41b07.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/354885cafc.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script charset="utf-8" src="javascripts/0.js"></script>
    <script charset="utf-8" src="javascripts/6.js"></script>
    <script charset="utf-8" src="javascripts/main.js"></script>
    <script charset="utf-8" src="javascripts/scripts.js"></script>
    <script charset="utf-8" src="javascripts/pollyfills.js"></script>
    <script charset="utf-8" src="javascripts/runtime.js"></script>
    <!-- favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <style>
        .navbar[_ngcontent-c2]{border-bottom:3px solid #ddd}.navbar[_ngcontent-c2]
        a[_ngcontent-c2]{cursor:pointer}@media (min-width:768px){.navbar-icon-label[_ngcontent-c2]{display:none}.navbar[_ngcontent-c2]
        .navbar-badge[_ngcontent-c2]{position:relative;top:-3px;display:inline-block;float:none;margin:0 0 0 -8px;padding:1 2px;vertical-align:top;font-size:8px;font-weight:700;line-height:10px}}@media (max-width:768px){.mb-resp[_ngcontent-c2]{margin-bottom:1rem}}
    </style>
    <style>.tree-container[_ngcontent-c3]{height:85vh;overflow:auto}</style>
</head>
<body>
    <app-root _nghost-c0 ng-version="7.0.2">
        <router-outlet _ngcontent-c0=""></router-outlet>
        <app-main _nghost-c1>
            <app-header _ngcontent-c1 _nghost-c2>
                <nav _ngcontent-c2 class="navbar navbar-expand-md navbar-light">
                    <div _ngcontent-c2 class="container">
                        <a _ngcontent-c2 class="navbar-brand" href="/">
                            <img _ngcontent-c2 alt height="50" src="images/innonet.svg" width=50>
                        </a>
                        <button _ngcontent-c2 aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNav" data-toggle="collapse" type="button">
                            <span _ngcontent-c2 class="navbar-toggler-icon"></span>
                            </span>
                        </button>
                        <div _ngcontent-c2 class="collapse navbar-collapse" id="navbarNav">
                            <ul _ngcontent-c2 class="navbar-nav mr-auto">
                                <li _ngcontent-c2="" class="nav-item active" ngbdropdown="" routerlinkactive="active"><!---->
                                    <a _ngcontent-c2="" class="nav-link" href="/index">
                                        수목센서 
                                    </a><!---->
                                </li>
                                <li _ngcontent-c2="" class="nav-item" ngbdropdown="" routerlinkactive="active"><!---->
                                    <a _ngcontent-c2="" class="nav-link" href="/setting">
                                        설정 
                                    </a><!---->
                                </li>
                                <!--<li _ngcontent-c2="" class="nav-item active" ngbdropdown="" routerlinkactive="active">
                                    <a _ngcontent-c2="" class="nav-link" href="/index">
                                        수목센서 
                                    </a>
                                </li>-->
                            </ul>
                            <ul _ngcontent-c2 class="navbar-nav ml-auto">
                                <li _ngcontent-c2="" class="nav-item" ngbdropdown="" routerlinkactive="active"><!---->
                                    <a _ngcontent-c2="" class="nav-link active" href="/index">
                                        <%= name %> 
                                    </a><!---->
                                </li>
                                <li _ngcontent-c2="" class="nav-item" ngbdropdown="" routerlinkactive="active"><!---->
                                    <a _ngcontent-c2="" class="nav-link" href="/mypage">
                                        개인정보수정
                                    </a><!---->
                                </li>
                                <li _ngcontent-c2="" class="nav-item" ngbdropdown="" routerlinkactive="active"><!---->
                                    <a _ngcontent-c2="" class="nav-link" href="/logout">
                                        로그아웃 
                                    </a><!---->
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </app-header>
            <div _ngcontent-c1 class="container my-3">
                <router-outlet _ngcontent-c1></router-outlet>
                <app-monitor _nghost-c3>
                    <div _ngcontent-c3 class="container">
                        <div _ngcontent-c3 class="row">
                            <tree-root _ngcontent-c3 class="col-2 tree-container">
                                <tree-viewport>
                                    <div class="ng-star-inserted" style="height: 410px;">
                                        <div class="angular-tree-component">
                                            <div class="ng-star-inserted" style="margin-top: 0px;">
                                                <% for (var i = 0; i < TTCloudSN.length; i++) { %>
                                                    <tree-node class="ng-star-inserted">
                                                        <div class="tree-node-level-1 tree-node tree-node-collapsed ng-star-inserted">
                                                            <tree-node-drop-slot class="ng-star-inserted">
                                                                <div class="node-drop-slot"></div>
                                                            </tree-node-drop-slot>
                                                            <tree-node-wrapper>
                                                                <div class="node-wrapper ng-star-inserted" style="padding-left:0px;">
                                                                    <tree-node-expander>
                                                                        <span class="toggle-children-wrapper ng-star-inserted toggle-children-wrapper-expanded">
                                                                            <span class="toggle-children"></span>
                                                                        </span>
                                                                    </tree-node-expander>
                                                                    <div class="node-content-wrapper" draggable="false">
                                                                        <tree-node-content>
                                                                            <span class="ng-star-inserted" onclick="location.href='/index/<%=TTCloudSN[i]%>'"><%= TTCloudSN[i] %></span>
                                                                        </tree-node-content>
                                                                    </div>
                                                                </div>
                                                            </tree-node-wrapper>
                                                            <tree-node-children>
                                                                <% for (var j = 0; j < TTplusSN.length; j++) { %>
                                                                <% if (TTplusSN[j].con == TTCloudSN[i]) { %>    
                                                                <div class="tree-children tree-children-no-padding ng-star-inserted" style>
                                                                    <tree-node-collection class="ng-star-inserted">
                                                                        <div class="ng-star-inserted" style="margin-top:0px;">
                                                                            <div class="tree-node-level-2 tree-node tree-node-expanded ng-star-inserted">
                                                                                <tree-node-drop-slot class="ng-star-inserted">
                                                                                    <div class="node-drop-slot"></div>
                                                                                </tree-node-drop-slot>
                                                                                <tree-node-wrapper>
                                                                                    <div class="node-wrapper ng-star-inserted" style="padding-left: 10px;">
                                                                                        <tree-node-expander>
                                                                                            <span class="toggle-children-wrapper toggle-children-wrapper-expanded ng-star-inserted">
                                                                                                <span class="toggle-children"></span>
                                                                                            </span>
                                                                                        </tree-node-expander>
                                                                                        <div class="node-content-wrapper" draggable="false">
                                                                                            <tree-node-content>
                                                                                                <span class="ng-star-inserted" onclick="location.href='/index/<%=TTCloudSN[i]%>/<%=TTplusSN[j].sn%>'">
                                                                                                    <%= TTplusSN[j].sn %>
                                                                                                </span>
                                                                                            </tree-node-content>
                                                                                        </div>
                                                                                    </div>
                                                                                </tree-node-wrapper>
                                                                            </div>
                                                                        </div>
                                                                    </tree-node-collection>
                                                                </div>
                                                                <% } %>
                                                                <% } %>
                                                            </tree-node-children>
                                                            <tree-node-drop-slot>
                                                                <div class="node-drop-slot"></div>
                                                            </tree-node-drop-slot>
                                                        </div>
                                                    </tree-node>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </tree-viewport>
                            </tree-root>
                            <div _ngcontent-c3 class="col-10">
                                <router-outlet _ngcontent-c3></router-outlet>
                                <% if (is_TTCloud == false && is_TTplus == false) { %>
                                    <app-monitor-start _nghost-c4>
                                        <div _ngcontent-c4 class="jumbotron jumbotron-fluid">
                                            <div _ngcontent-c4 class="container text-center">
                                                <h1 _ngcontent-c4 class="display-5">
                                                    <i _ngcontent-c4 class="fas fa-info"></i>
                                                    알림
                                                </h1>
                                                <p _ngcontent-c4 class="lead">그룹을 선택하세요</p>
                                            </div>
                                        </div>
                                    </app-monitor-start>
                                <% } else if (is_TTCloud == true && is_TTplus == false) { %>
                                    <app-group-monitor _nghost-c4 class="ng-star-inserted">
                                        <div _ngcontent-c4 class="container d-flex flex-row justify-content-between py-3">
                                            <h5 _ngcontent-c4 class="container text-primary">
                                                <span _ngcontent-c4 class="ng-star-inserted">
                                                    <%= currentTTCloudSN %>
                                                </span>
                                            </h5>
                                            <button _ngcontent-c4 class="btn btn-secondary" type="button" onclick="location.href='/download'">
                                                Excel
                                            </button>
                                        </div>
                                        <ul _ngcontent-c4 class="nav nav-tabs">
                                            <li _ngcontent-c4 class="nav-item ng-star-inserted">
                                                <a _ngcontent-c4 class="nav-link active" routerlinkactive="active" href="/index/<%=currentTTCloudSN %>">정보</a>
                                            </li>
                                            <!--<li _ngcontent-c5 class="nav-item ng-star-inserted">
                                                <a _ngcontent-c5 class="nav-link" routerlinkactive="active" href="/index">통계</a>
                                            </li>
                                            <li _ngcontent-c5 class="nav-item ng-star-inserted">
                                                <a _ngcontent-c5 class="nav-link" routerlinkactive="active" href="/index">로그</a>
                                            </li>-->
                                        </ul>
                                        <router-outlet _ngcontent-c4></router-outlet>
                                        <app-group-info _nghost-c5 class="ng-star-inserted">
                                            <perfect-scrollbar _ngcontent-c5 class="tab-container px-2">
                                                <div style="position: static;" class="ps ps--active-y">
                                                    <div class="ps-content">
                                                        <div _ngcontent-c5 class="container h-60">
                                                            <div _ngcontent-c5 class="table-container">
                                                                <div style="position: static;" class="ps">
                                                                    <div class="ps-content" style="height: 700px; overflow: auto;">
                                                                        <table _ngcontent-c5 class="table table-hover ng-star-inserted" >
                                                                            <thead style="background-color: #fff; text-align: center;">
                                                                                <tr _ngcontent-c5 class="mat-header-row ng-star-inserted" mat-header-row role="row">
                                                                                    <th _ngcontent-c5 class="mat-header-cell ng-tns-c8-0 mat-table-sticky ng-star-inserted" mat-header-cell mat-sort-header role="columnheader" style="top: 0px; position: sticky; z-index: 100;">
                                                                                        <div class="mat-sort-header-container" style="width: 70px;">
                                                                                            시리얼번호
                                                                                        </div>
                                                                                    </th>
                                                                                    <th _ngcontent-c5 class="mat-header-cell ng-tns-c8-0 mat-table-sticky ng-star-inserted" mat-header-cell mat-sort-header role="columnheader" style="top: 0px; position: sticky; z-index: 100;" scope="col">
                                                                                        <div class="mat-sort-header-container" style="width: 200px;">
                                                                                            업데이트 시간
                                                                                        </div>
                                                                                    </th>
                                                                                    <th _ngcontent-c5 class="mat-header-cell ng-tns-c8-0 mat-table-sticky ng-star-inserted" mat-header-cell mat-sort-header role="columnheader" style="top: 0px; position: sticky; z-index: 100;" scope="col">
                                                                                        <div class="mat-sort-header-container" style="width: 80px;">
                                                                                            RSSI No.1
                                                                                        </div>
                                                                                    </th>
                                                                                    <th _ngcontent-c5 class="mat-header-cell ng-tns-c8-0 mat-table-sticky ng-star-inserted" mat-header-cell mat-sort-header role="columnheader" style="top: 0px; position: sticky; z-index: 100;" scope="col">
                                                                                        <div class="mat-sort-header-container" style="width: 80px;">
                                                                                            RSSI No.2
                                                                                        </div>
                                                                                    </th>
                                                                                    <th _ngcontent-c5 class="mat-header-cell ng-tns-c8-0 mat-table-sticky ng-star-inserted" mat-header-cell mat-sort-header role="columnheader" style="top: 0px; position: sticky; z-index: 100;" scope="col">
                                                                                        <div class="mat-sort-header-container" style="width: 100px;">
                                                                                            배터리 잔량 (mV)
                                                                                        </div>
                                                                                    </th>
                                                                                    <th _ngcontent-c5 class="mat-header-cell ng-tns-c8-0 mat-table-sticky ng-star-inserted" mat-header-cell mat-sort-header role="columnheader" style="top: 0px; position: sticky; z-index: 100;" scope="col">
                                                                                        <div class="mat-sort-header-container" style="width: 80px;">
                                                                                            펌웨어 버전
                                                                                        </div>
                                                                                    </th>
                                                                                </tr>    
                                                                            </thead>
                                                                            <tbody style="text-align: center;">
                                                                                <% for (var i = 0; i < TTCloudData.length; i++) { %>
                                                                                <tr _ngcontent-c5 class="mat-row ng-star-inserted" mat-row role="row">
                                                                                    <td _ngcontent-c5 class="mat-cell ng-star-inserted" mat-cell role="gridcell" scope="row">
                                                                                        <%= TTCloudData[i].dv_sn %>
                                                                                    </td>
                                                                                    <td _ngcontent-c5 class="mat-cell ng-star-inserted" mat-cell role="gridcell">
                                                                                        <%= TTCloudData[i].dt_time %>
                                                                                    </td>
                                                                                    <td _ngcontent-c5 class="mat-cell ng-star-inserted" mat-cell role="gridcell">
                                                                                        <%= TTCloudData[i].dt_RSSI_first %>
                                                                                    </td>
                                                                                    <td _ngcontent-c5 class="mat-cell ng-star-inserted" mat-cell role="gridcell">
                                                                                        <%= TTCloudData[i].dt_RSSI_second %>
                                                                                    </td>
                                                                                    <td _ngcontent-c5 class="mat-cell ng-star-inserted" mat-cell role="gridcell">
                                                                                        <%= TTCloudData[i].dt_battery_level %>
                                                                                    </td>
                                                                                    <td _ngcontent-c5 class="mat-cell ng-star-inserted" mat-cell role="gridcell">
                                                                                        <%= TTCloudData[i].dt_firmware_version %>
                                                                                    </td>
                                                                                </tr>
                                                                                <% } %>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </perfect-scrollbar>
                                        </app-group-info>
                                    </app-group-monitor>
                                    
                                <% } else if (is_TTCloud == false && is_TTplus == true) { %>
                                    <app-group-monitor _nghost-c5 class="ng-star-inserted">
                                        <div _ngcontent-c5 class="container d-flex flex-row justify-content-between py-3">
                                            <h5 _ngcontent-c5 class="container text-primary">
                                                <span _ngcontent-c5 class="ng-star-inserted">
                                                    <%= currentTTplusSN %>
                                                </span>
                                            </h5>
                                            <button _ngcontent-c5 class="btn btn-secondary" type="button" onclick="location.href='/download'">
                                                Excel
                                            </button>
                                        </div>
                                        <ul _ngcontent-c5 class="nav nav-tabs">
                                            <li _ngcontent-c5 class="nav-item ng-star-inserted">
                                                <a _ngcontent-c5 class="nav-link active" routerlinkactive="active" href="/index/<%=currentTTCloudSN %>/<%=currentTTplusSN%>">정보</a>
                                            </li>
                                            <!--<li _ngcontent-c5 class="nav-item ng-star-inserted">
                                                <a _ngcontent-c5 class="nav-link" routerlinkactive="active" href="/index">통계</a>
                                            </li>
                                            <li _ngcontent-c5 class="nav-item ng-star-inserted">
                                                <a _ngcontent-c5 class="nav-link" routerlinkactive="active" href="/index">로그</a>
                                            </li>-->
                                        </ul>
                                        <router-outlet _ngcontent-c4></router-outlet>
                                        <app-group-info _nghost-c5 class="ng-star-inserted">
                                            <perfect-scrollbar _ngcontent-c5 class="tab-container px-2">
                                                <div style="position: static;" class="ps ps--active-y">
                                                    <div class="ps-content">
                                                        <div _ngcontent-c5 class="container h-60">
                                                            <div _ngcontent-c5 class="table-container">
                                                                <div style="position: static;" class="ps">
                                                                    <div class="ps-content" style="height: 700px; overflow: auto;">
                                                                        <table _ngcontent-c5 class="table table-hover ng-star-inserted" >
                                                                            <thead style="background-color: #fff; ">
                                                                                <tr _ngcontent-c5 class="mat-header-row ng-star-inserted" mat-header-row role="row" style="text-align:center;">
                                                                                    <th _ngcontent-c5 class="mat-header-cell ng-tns-c8-0 mat-table-sticky ng-star-inserted" mat-header-cell mat-sort-header role="columnheader" style="top: 0px; position: sticky; z-index: 100;">
                                                                                        <div class="mat-sort-header-container" style="width: 80px;">
                                                                                            시리얼 번호
                                                                                        </div>
                                                                                    </th>
                                                                                    <th _ngcontent-c5 class="mat-header-cell ng-tns-c8-0 mat-table-sticky ng-star-inserted" mat-header-cell mat-sort-header role="columnheader" style="top: 0px; position: sticky; z-index: 100;" scope="col">
                                                                                        <div class="mat-sort-header-container" style="width: 200px;">
                                                                                            업데이트 시간
                                                                                        </div>
                                                                                    </th>
                                                                                    <th _ngcontent-c5 class="mat-header-cell ng-tns-c8-0 mat-table-sticky ng-star-inserted" mat-header-cell mat-sort-header role="columnheader" style="top: 0px; position: sticky; z-index: 100;" scope="col">
                                                                                        <div class="mat-sort-header-container" style="width: 100px;">
                                                                                            Before TRef (℃)
                                                                                        </div>
                                                                                    </th>
                                                                                    <th _ngcontent-c5 class="mat-header-cell ng-tns-c8-0 mat-table-sticky ng-star-inserted" mat-header-cell mat-sort-header role="columnheader" style="top: 0px; position: sticky; z-index: 100;" scope="col">
                                                                                        <div class="mat-sort-header-container" style="width: 100px;">
                                                                                            After TRef (℃)
                                                                                        </div>
                                                                                    </th>
                                                                                    <th _ngcontent-c5 class="mat-header-cell ng-tns-c8-0 mat-table-sticky ng-star-inserted" mat-header-cell mat-sort-header role="columnheader" style="top: 0px; position: sticky; z-index: 100;" scope="col">
                                                                                        <div class="mat-sort-header-container" style="width: 100px;">
                                                                                            Before THeat (℃)
                                                                                        </div>
                                                                                    </th>
                                                                                    <th _ngcontent-c5 class="mat-header-cell ng-tns-c8-0 mat-table-sticky ng-star-inserted" mat-header-cell mat-sort-header role="columnheader" style="top: 0px; position: sticky; z-index: 100;" scope="col">
                                                                                        <div class="mat-sort-header-container" style="width: 100px;">
                                                                                            After THeat (℃)
                                                                                        </div>
                                                                                    </th>
                                                                                    <th _ngcontent-c5 class="mat-header-cell ng-tns-c8-0 mat-table-sticky ng-star-inserted" mat-header-cell mat-sort-header role="columnheader" style="top: 0px; position: sticky; z-index: 100;" scope="col">
                                                                                        <div class="mat-sort-header-container" style="width: 100px;">
                                                                                            성장률 (%)
                                                                                        </div>
                                                                                    </th>
                                                                                    <th _ngcontent-c5 class="mat-header-cell ng-tns-c8-0 mat-table-sticky ng-star-inserted" mat-header-cell mat-sort-header role="columnheader" style="top: 0px; position: sticky; z-index: 100;" scope="col">
                                                                                        <div class="mat-sort-header-container" style="width: 100px;">
                                                                                            배터리 잔량 (mV)
                                                                                        </div>
                                                                                    </th>
                                                                                    <th _ngcontent-c5 class="mat-header-cell ng-tns-c8-0 mat-table-sticky ng-star-inserted" mat-header-cell mat-sort-header role="columnheader" style="top: 0px; position: sticky; z-index: 100;" scope="col">
                                                                                        <div class="mat-sort-header-container" style="width: 100px;">
                                                                                            습도 (%)
                                                                                        </div>
                                                                                    </th>
                                                                                    <th _ngcontent-c5 class="mat-header-cell ng-tns-c8-0 mat-table-sticky ng-star-inserted" mat-header-cell mat-sort-header role="columnheader" style="top: 0px; position: sticky; z-index: 100;" scope="col">
                                                                                        <div class="mat-sort-header-container" style="width: 100px;">
                                                                                            온도 (℃)
                                                                                        </div>
                                                                                    </th>
                                                                                    <th _ngcontent-c5 class="mat-header-cell ng-tns-c8-0 mat-table-sticky ng-star-inserted" mat-header-cell mat-sort-header role="columnheader" style="top: 0px; position: sticky; z-index: 100;" scope="col">
                                                                                        <div class="mat-sort-header-container" style="width: 100px;">
                                                                                            안정성(기울어짐)
                                                                                        </div>
                                                                                    </th>
                                                                                    <th _ngcontent-c5 class="mat-header-cell ng-tns-c8-0 mat-table-sticky ng-star-inserted" mat-header-cell mat-sort-header role="columnheader" style="top: 0px; position: sticky; z-index: 100;" scope="col">
                                                                                        <div class="mat-sort-header-container" style="width: 100px;">
                                                                                            물줄기
                                                                                        </div>
                                                                                    </th>
                                                                                </tr>    
                                                                            </thead>
                                                                            <tbody>
                                                                                <% for (var i = 0; i < TTplusData.length; i++) { %>
                                                                                <tr _ngcontent-c5 class="mat-row ng-star-inserted" mat-row role="row" style="text-align:center;">
                                                                                    <td _ngcontent-c5 class="mat-cell ng-star-inserted" mat-cell role="gridcell" scope="row">
                                                                                        <%= TTplusData[i].dv_sn %>
                                                                                    </td>
                                                                                    <td _ngcontent-c5 class="mat-cell ng-star-inserted" mat-cell role="gridcell">
                                                                                        <%= TTplusData[i].dt_time %>
                                                                                    </td>
                                                                                    <td _ngcontent-c5 class="mat-cell ng-star-inserted" mat-cell role="gridcell">
                                                                                        <%= parseFloat(TTplusData[i].dt_Tref_before).toFixed(2) %> 
                                                                                    </td>
                                                                                    <td _ngcontent-c5 class="mat-cell ng-star-inserted" mat-cell role="gridcell">
                                                                                        <%= parseFloat(TTplusData[i].dt_Tref_after).toFixed(2) %> 
                                                                                    </td>
                                                                                    <td _ngcontent-c5 class="mat-cell ng-star-inserted" mat-cell role="gridcell">
                                                                                        <%= parseFloat(TTplusData[i].dt_Theat_before).toFixed(2) %> 
                                                                                    </td>
                                                                                    <td _ngcontent-c5 class="mat-cell ng-star-inserted" mat-cell role="gridcell">
                                                                                        <%= parseFloat(TTplusData[i].dt_Theat_after).toFixed(2) %>
                                                                                    </td>
                                                                                    <td _ngcontent-c5 class="mat-cell ng-star-inserted" mat-cell role="gridcell">
                                                                                        <%= parseFloat(TTplusData[i].dt_growth_rate).toFixed(2) %>
                                                                                    </td>
                                                                                    <td _ngcontent-c5 class="mat-cell ng-star-inserted" mat-cell role="gridcell">
                                                                                        <%= parseFloat(TTplusData[i].dt_battery_vol).toFixed(0) %>
                                                                                    </td>
                                                                                    <td _ngcontent-c5 class="mat-cell ng-star-inserted" mat-cell role="gridcell">
                                                                                        <%=TTplusData[i].dt_air_humidity %>
                                                                                    </td>
                                                                                    <td _ngcontent-c5 class="mat-cell ng-star-inserted" mat-cell role="gridcell">
                                                                                        <%=TTplusData[i].dt_air_temp %>
                                                                                    </td>
                                                                                    <td _ngcontent-c5 class="mat-cell ng-star-inserted" mat-cell role="gridcell">
                                                                                        <%= parseFloat(TTplusData[i].dt_stability).toFixed(2) %>
                                                                                    </td>
                                                                                    <td _ngcontent-c5 class="mat-cell ng-star-inserted" mat-cell role="gridcell">
                                                                                        <%= parseFloat(TTplusData[i].dt_stem).toFixed(2) %>
                                                                                    </td>
                                                                                </tr>
                                                                                <% } %>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </perfect-scrollbar>
                                        </app-group-info>
                                    </app-group-monitor>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </app-monitor>
            </div>
        </app-main>
    </app-root>
</body>
</html>